@import 'https://fonts.googleapis.com/css?family=Ubuntu:300';

body {
    font-family: 'Ubuntu', monospace;
    font-size: 0.75rem;
    line-height: 1.25;
    letter-spacing: 1px;
    background:#fff;
    display: flex;
    height: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
  }
  
  html {
      height: 100%;
  }
  
  #root {
      height: 100%;
      width: 100%;
  }

  